Options All -Indexes
#Options +FollowSymLinks
IndexIgnore */*


RewriteEngine on

RewriteRule ^site(.*)$ /admin/site$1 [QSA,L,R=301,NC]
RewriteRule ^frame(.*)$ /admin/frame$1 [QSA,L,R=301,NC]
RewriteRule ^menu(.*)$ /admin/menu$1 [QSA,L,R=301,NC]
RewriteRule ^form(.*)$ /admin/form$1 [QSA,L,R=301,NC]

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#RewriteCond %{REQUEST_URI} !^/admin
RewriteCond %{REQUEST_URI} !^/admin

# otherwise forward it to index.php
RewriteRule . index.php